<%= form_with(model: booking) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :reference, 'Referencia', class: 'form-label' %>
    <%= form.text_field :reference, class: 'form-control' %>
    <div id="emailHelp" class="form-text">Ingresar referencia para seguimiento local</div>
  </div>

  <div class="mb-3">
    <h3>Origen</h3>
    <div class="input-group mb-2">
      <span class="input-group-text">Direccion</span>
      <%= text_field_tag "address_1", nil, class: 'form-control'%>
    </div>
    <div class="input-group mb-2">
      <span class="input-group-text">Coordenadas</span>
      <%= text_field_tag "lat_1", nil, class: 'form-control', placeholder: 'Latitud' %>
      <%= text_field_tag "lon_1", nil, class: 'form-control', placeholder: 'Longitud' %>
    </div>
  </div>

  <div class="mb-3">
    <h3>Destino</h3>
    <div class="input-group mb-2">
      <span class="input-group-text">Direccion</span>
      <%= text_field_tag "address_2", nil, class: 'form-control' %>
    </div>
    <div class="input-group mb-2">
      <span class="input-group-text">Coordenadas</span>
      <%= text_field_tag "lat_2", nil, class: 'form-control', placeholder: 'Latitud' %>
      <%= text_field_tag "lon_2", nil, class: 'form-control', placeholder: 'Longitud' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Solicitar Servicio', class: 'btn btn-primary'%>
  </div>
<% end %>
