<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<br>

<%= link_to 'Nuevo Servicio', new_booking_path, class: 'btn btn-warning mb-3' %>

<h1>Lista de Servicios Solicitados</h1>

<% if @error %>
  <%= @error %>
<% end %>

<% if @response %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Direccion origen</th>
        <th scope="col">Direccion destino</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @response.each do |booking| %>
        <tr>
          <td><%= booking["_id"] %></td>
          <td><%= booking["address"] %></td>
          <td><%= booking["stops"][0]["address"] %></td>
          <td><%= booking_status_span_generator booking["status_cd"] %></td>
          <td><%= link_to 'Show', booking_path(booking["_id"]) %> | <%= link_to 'Cancel', cancel_booking_path(booking["_id"]) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @error %>
  <%= @error %>
<% end %>
