<p id="notice"><%= notice %></p>

<div class="container">
    <%= link_to 'Back', bookings_path %>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-header">
          Detalles del servicio <strong><%= @response["_id"] %></strong>
        </div>
        <div class="card-body">
          <h5 class="card-title">Origen: <%= @response["address"] %></h5>
          <% if @response["stops"].length == 0 %>
            <h5 class="card-title">Destino: <%= @response["stops"][0]["address"] %></h5>
          <% else %>
            <% @response["stops"].each do |stop| %>
              <h5 class="card-title"><%= @response["stops"].last == stop ? "Destino:" : "Parada:"  %> <%= stop["address"] %></h5>
            <% end %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <%= booking_status_span_generator @response["status_cd"] %>
        </div>
        <%= render_partial_if(@response["driver"], 'driver') %>
      </div>
    </div>
  </div>
</div>
