<!DOCTYPE html>
<html>
  <head>
    <title>PicapProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <%= link_to 'PicapProject', root_path, class: 'navbar-brand' %>
      <%= link_to 'Local Records', local_records_path, class: 'nav-link' %>
    </nav>
    <%= yield %>
  </body>
</html>
